# 반복문

## while 반복문
- 조건식이 참이면 계속 수행함
- 예) 게임 (자동사냥)
- 자동사냥 버튼 ==> True

### for 반복문처럼 사용

In [3]:
i = 0 
while i < 10:
    print('{}번쨰 반복입니다.'.format(i))
    i += 1

print(i)

0번쨰 반복입니다.
1번쨰 반복입니다.
2번쨰 반복입니다.
3번쨰 반복입니다.
4번쨰 반복입니다.
5번쨰 반복입니다.
6번쨰 반복입니다.
7번쨰 반복입니다.
8번쨰 반복입니다.
9번쨰 반복입니다.
10

### 상태를 기반으로 반복

In [4]:
list_test = [1, 2, 1, 2]
value = 2

while value in list_test:
    list_test.remove(value)

print(list_test)

[1, 1]

### 시간을 기반으로 반복하기

In [7]:
import time

time.time()

1719537986.6801286

In [8]:
number = 0

#5초동안 반복
target_tick = time.time() + 5
while time.time() < target_tick:
    number +=  1

number

45839517

### break와 comtinue 키워드

In [13]:
numbers = [5, 15, 6, 20, 7, 25]

numbers = sorted(numbers) # 위 리스트 정렬

for number in numbers:
    print(number)
    if number > 10:
        break

5
6
7
15

In [14]:
numbers = [5, 15, 6, 20, 7, 25]

numbers = sorted(numbers) # 위 리스트 정렬

for number in numbers:
    if number > 10:
        break
    print(number) #프린트의 위치에 따라 출력되는 값이 달라진다.
                    # 출력되기 이전에 break가 걸려서 15는 출력되지 못함

5
6
7

In [15]:
numbers = [5, 15, 6, 20, 7, 25]

for number in numbers:
    if number < 10:
        continue
    print(number)

15
20
25

# 04-3 확인테스트

# 함수

## 함수 만들기
- 공식 문서 볼때 필수 확인사항 2가지
  + 매개변수 입력 방법 (or 자료형)
  + 반환값, 반환되는 자료형의 형태(int, str, DataFrame, etc)

In [17]:
text = "안녕하세요"
len(text) #매개 변수를 사용하면 반환값이 나옴

5

a 함수 ==> 리스트 ==> 문자열 변경

b 함수 매개변수 문자열

pandas는 str 로 받아드려서 DataFrame으로 리턴값을 준다.

시각화 라이브러리
SeaBorn
matplotlib

In [32]:
def add(a,b):
    
        """Adds two numbers together.
    
    Args:
        a (int, float): The first number.
        b (int, float): The second number.
    
    Returns:
        int, float: The sum of `a` and `b`.
    
    Examples:
        >>> add(1, 2)
        3
        >>> add(1.5, 2.5)
        4.0
    """
return a+b

add(1,2)

SyntaxError: 'return' outside function (451247466.py, line 18)

In [25]:
print(add.__doc__)

None

#### 사칙연산 함수 만들기

In [31]:
def calculate(a,b,giho):
    if giho == "plus":
        return a+b
    elif giho == "minus":
        return a-b
    elif giho == "divide":
        return a/b
    elif giho == "multi":
        return a*b

print(calculate(10, 5, 'plus'))

15

## 매개변수

### 에러 유형 확인

예제 문제

In [36]:
def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요", 5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [ ]:
숫자를 집어 넣지 않은 경우

In [34]:
def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요") #숫자를 집어넣지 않음

TypeError: print_n_times() missing 1 required positional argument: 'n'

- print_n_times() missing 1 required positional argument: 'n'
     + 숫자를 집어넣지 않음

In [35]:
def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요", 10,20)

TypeError: print_n_times() takes 2 positional arguments but 3 were given

- print_n_times() takes 2 positional arguments but 3 were given
    + 입력값이 2개 들어와야 하지만 3개가 들어왔다는 오류

에러가 났을땐 침착하게 공식 문서 들어가서 찾아보기

### 가변매개변수
- *를 매개변수에 추가

In [38]:
def print_n_times(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()

print_n_times(3, 'a', 'b', 'c', 1, 100, 'aaa',[1, 2, 3] )

a
b
c
1
100
aaa
[1, 2, 3]

a
b
c
1
100
aaa
[1, 2, 3]

a
b
c
1
100
aaa
[1, 2, 3]

In [49]:
def add_many(*nums):
    result = 0
    print(type(result))
    for num in nums:
        result += num

    return result

add_many(1, 2, 3, 4)

<class 'int'>

10

### 키워드 매개변수 **kwargs
- 매개변수 앞에 ** 두개 붙인 케이스

In [44]:
def print_kwargs(**kwargs):

    #이 메서드는 return값이 없음
    print(kwaegs) #어떻게 출력이 될까?

In [45]:
print_kwargs(a = 1) #리스트 형태로 출력이 됨

{'a': 1}

In [52]:
def test1(a, b=10, c=100):
    #값을 전달할 필요가 없고, 단순 확인용도로만 함수를 만들때
    print(a + b + c)

#test 1 (1)
result = test1(1)

111

In [53]:
def test2(a, b=10, c=100):
    #값을 전달해야 할 때는 return값을 지정
    return a + b + c

result = test2(1)
result

111

# 클래스

## why 클래스?

- 함수, 반복문만 적절하게 사용해도 큰 문제 안됨
- 함수들의 집합체
- why 클래스?
    + 한줄로 요약 : 자동화/ 많은 사람들이 사용 할 수 있도록 배포

In [55]:
result = 0

def add(num):
    global result # 전역변수 (어디에서도 내가 이변수를 쓰겠다)
    result += num # 결괏값에 입력값 num 더하기
    return result

print(add(3))
print(add(4))

3
7

## 클래스 만들기

In [58]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result

# 사용자1
cal1 = Calculator() # 첫번째 사용자
cal2 = Calculator() # 두번째 사용자
cal3 = Calculator() # 세번쨰 사용자

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(5))
print(cal1.add(4))

3
7
5
11
7
19
8

In [74]:
result1 = 0
result2 = 0 
result3 = 0
result4 = 0


def add1(num):
    global result1 # 전역변수 
    result1 += num # 결괏값에 입력값 num 더하기
    return result1

def add2(num):
    global result2 # 전역변수 
    result2 += num # 결괏값에 입력값 num 더하기
    return result2
    
#새롭게 추가된 메서드
def sub(self, num):
    result3 -= num 
    return result3

print(add1(3)) # 첫번째 사람
print(add2(5)) # 두번째 사람
print(add1(4)) # 첫번째 사람
print(add2(4)) # 두번째 사람

3
5
7
9

In [ ]:
class StudentGrade:
    pass

인스턴스 이름 (=변수 이름) = 클래스 이름 --> 생성자 함수

In [ ]:
class StudentGrade:
    pass

# 학생을 선언합니다.
희교 = Student() #하나의 의미있는 객체
성민 = Student() #하나의 의미있는 객체
승훈 = Student() #하나의 의미있는 객체

In [83]:
class Student:
    """A class to represent a student and their grades.

    Attributes:
        name (str): The name of the student.
        korean (int): The Korean score of the student.
        math (int): The Math score of the student.
        english (int): The English score of the student.
        science (int): The Science score of the student.
    """

    def __init__(self, name, korean, math, english, science):
        """Initializes the Student with name and scores in four subjects.

        Args:
            name (str): The name of the student.
            korean (int): The Korean score of the student.
            math (int): The Math score of the student.
            english (int): The English score of the student.
            science (int): The Science score of the student.
        """
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science

    def get_sum(self):
        """Calculates the sum of the student's scores.

        Returns:
            int: The sum of the scores in Korean, Math, English, and Science.
        """
        return self.korean + self.math + self.english + self.science

    def get_average(self):
        """Calculates the average of the student's scores.

        Returns:
            float: The average of the scores in Korean, Math, English, and Science.
        """
        return self.get_sum() / 4

    def get_grade(self):
        """Determines the grade of the student based on their average score.

        Returns:
            str: 'A' if the average score is above 90, otherwise 'F'.
        """
        grade = None
        if self.get_average() > 90:
            grade = 'A'
        else:
            grade = 'F'
        return grade

students = [
    Student("윤인성", 87, 98, 88, 95), 
    Student("Evan", 50, 20, 15, 40), 
]

In [84]:
students[0].get_grade(), students[0].get_sum(), students[0].get_average()

('A', 368, 92.0)

In [73]:
students[0].get_sum()

368

In [89]:
for i in range(0,len(students)):
    print(students[i].get_grade(), students[i].get_sum(), students[i].get_average() )

A 368 92.0
F 125 31.25

## 인스턴스 확인
- isinstance(인스턴스, 클래스)

In [95]:
class Student:
    def __init__(self) :
        pass

Student == Student()
isinstance(Student, Student)

False

In [96]:
isinstance(Student, Calculator)

False

In [101]:
### 상속문법
class Human:
    def __init__(self):
        pass

class Student(Human):
    def __init__(self):
        pass

## 상속 문법
- P497

In [ ]:
# 부모 클래스를 선언합니다.
class Parent:
    def __init__(self):
        self.value = "테스트"
        print("Parent 클래스의 __init()__ 메서드가 호출되었습니다.")
    def test(self):
        print("Parent 클래스의 test() 메서드입니다.")

# 자식 클래스를 선언합니다.
class Child(Parent):
    def __init__(self):
        super().__init__() # 부모의 __init__() 함수를 호출합니다.
        print("Child 클래스의 __init()__ 메서드가 호출되었습니다.")

# 자식 클래스의 인스턴스를 생성하고 부모의 메서드를 호출합니다.
child = Child()
child.test()
print(child.value)

In [102]:
class Parent :
    pass

class Child(Parent):
    def __init__(self):
        super().__init__()